#userAccount{
  margin: 100px;
  padding: 70px 70px 70px 70px;
  border: 1px solid #2a324b;
  -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,1);
  box-shadow: 0px 0px 12px -1px rgba(0,0,0,1);
  background-color: #f1f5ee;
}

#userAccountMenu{
  background-color: #000;
  margin-bottom: 100px;
}

#userAccountMenu > ul > li{
    float: left;
    list-style: none;
    font-size: 30px;

}
#userAccountMenu > ul > li a{
  padding: 10px;
  text-decoration: none;
  color: #2f2626;
}

#userAccountMenu > ul > li a:hover{
  text-decoration: none;
  background-color: #2a324b;
  color: #fff;
  border-radius: 2px;

}
/**********************************************************************/

#selectedMenuView{
background-color: #D1D5DD;
padding: 2rem;
}


.orderNo{
  font-size: 30px;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding-left: 20px;
  margin: 2rem 0 1rem 0;
}


.orderDate{
  text-align: right;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: bold;
}

.orderHistoryItem > .orderedItemList > li{
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
}

.orderHistoryItem > .orderedItemList > li > img{
  width: 100%;
  border: 2px solid #2A324B;
}

.orderHistoryItem > .orderedItemList > li > .itemTitle, .itemPrice{
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 1rem;
}

.orderTotal{
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 3rem;
}

.orderStatus{
  font-style: italic;
  text-align: right;
  margin-right: 3rem;
  font-size: 1rem;
}

.orderStatus > span{
  color: #689126;
  font-weight: bold;
  font-style: normal;
}
