#contentBox{
  width: 90%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10rem;
  background-color: #1E1E1E;
}

#productPic{
  border: 1px solid #000000;
  float: left;
  text-align: center;
  margin-top: 6rem;
  margin-left: 10%;

}

#productPic img{
  width: 400px;
}

#nextToPic{
  float: left;

}

#productName{
  color: #363842;
  font-size: 40px;
  font-weight: bold;
  margin-top: 110px;
  margin-left: 40px;

  word-wrap: break-word;
}

#productProducer{
  font-size: 20px;
  margin-left: 40px;
}

#productPrice{

  font-size: 32px;
  font-weight: bold;
  padding: 20px 0 20px 0;
  margin-left: 40px;
}

button{
  margin-left: 40px;
  width: 250px;
  height: 50px;
  color: #363842;
  background-color: #5472cc;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,1);
  box-shadow: 0px 0px 2px -1px rgba(0,0,0,1);
  cursor: pointer;
}

button a{
  text-decoration: none;
  color: #B5B5B7;
}

button:hover{
  background-color: #2b3860;
  color: #fff;
}

#productDescription{

  margin-top: 80px;
  margin-left: 10%;
  margin-right: 40%;
  width: 60%;
  text-align: justify;

}

#productPrice{

}
