#userAccount{
  margin: 100px;
  padding: 70px 70px 70px 70px;
  border: 1px solid #2a324b;
  -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,1);
  box-shadow: 0px 0px 12px -1px rgba(0,0,0,1);
  background-color: #3c3c3c;
}

#userAccountMenu{
  background-color: #000;
  margin-bottom: 100px;
}

#userAccountMenu > ul > li{
    float: left;
    list-style: none;
    font-size: 30px;

}
#userAccountMenu > ul > li a{
  padding: 10px;
  text-decoration: none;
  color: #B5B5B7;
}

#userAccountMenu > ul > li a:hover{
  text-decoration: none;
  background-color: #242424;
  color: #fff;
  border-radius: 2px;

}
/**********************************************************************/


.dataBox{
  display: grid;
  grid-template-columns: 6fr 6fr 1fr;
  grid-gap: 2rem 2rem;
}

.adminBox{
  display: grid;
  grid-template-columns: 4fr 7fr;
  grid-gap: 2rem 2rem;
}

button.confirmationButton{
  background-color: #161616;
  border: none;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  }

button.confirmationButton:hover{
  background-color: #2b3860;

}

#selectedMenuView{
background-color: #242424;
padding: 2rem;
}

.inputTypeDescription{
  font-size: 30px;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding-left: 20px;
  margin: 2rem 0 2rem 0;
}

.inputBox{
  padding: 20px;
  margin-left: 300px;
}

section > input, section > div > input{
  font-size: 0.6rem;
  border-radius: 0.2rem;
  border: 1px;
  padding: 0.1rem;
  width: 4rem;
  height: 2rem;
  background-color: #fff;
}

input.dataDescr{
  width: 80%;
}

section > input:focus, input:hover{
  background-color: #f2f4f7;
}


.cancelChangeRequest, .changeConfirmation{
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.1rem;
  font-size: 0.6rem;
  color: #fff;
  background-color: #767b91;
  border-radius: 5px;
}

form textarea{
  height: 30rem;
  border-radius: 0.2rem;
}


table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #3C3C3C;
}

.deleteFromCart{
  border-radius: 2px;
  background-color: #161616;
  border: none;
  color: #fff;
  padding: 0.7rem 1.7rem 0.7rem 1.7rem;
}